body{
    font-family: "Open Sans", sans-serif;
}

.container{
    display: flex;
    padding: 50px;
    
}

.leftMenu{
    flex: 1;
}

.searchInp{
    
    height: 30px;
    border: 1px solid gray;
    
}

h1{
    font-size: 22px;
    font-weight: 700;
  
    color: rgb(85, 85, 85);
}

.cats{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: rgb(51, 50, 50);
    font-size: 20px;
    font-weight: 300;
}

.cat{
    cursor: pointer;
}


.filterPrice{
    display: flex;
}

.content{
    flex: 4;
}

.products{
    
    display: flex;
    
    flex-wrap: wrap;
    gap: 20px;
    
}

.prod{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    
}


.prodImg{
    width: 150px;
    height: 250px;
    object-fit: contain;
}

.prodName{
    font-size: 25px;
    color: rgb(51, 50, 50);
}

.prodPrice{
    font-size: 17px;
    color:rgb(51, 50, 50);
}